<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="webthemez">
<title>Drawing Insights</title>

<!-- Bootstrap core CSS -->
<link href="static/HomePage/bootstrap.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="static/HomePage/styles.css" rel="stylesheet">
<link href="static/HomePage/font-awesome.min.css" rel="stylesheet">
<link href="static/HomePage/animate-custom.css" rel="stylesheet"> 
<script src="jquery.min.js"></script>
<script src="main.js"></script>
<script type="text/javascript" src="modernizr.custom.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> 
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="bootstrap.min.js"></script> 
    <script type="text/javascript" src="jquery.easing.1.3.js"></script> 
    <script type="text/javascript" src="smoothscroll.js"></script> 
    <script type="text/javascript" src="custom-scripts.js"></script>
</head>
<body data-target="#navbar-main">
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
	 
      <div class="navbar-header">
	   <div class="pull-left logo">
        <a class="" href="#home"><!--<img src="static/HomePage/images/logo.png" />--></a>
       </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li> <a href="#home-section" class="smoothScroll">Welcome</a></li>
          <li> <a href="#services" class="smoothScroll">We Offer</a></li>		  
          <li> <a href="#about" class="smoothScroll"> About</a></li>
          <li> <a href="#portfolio" class="smoothScroll"> Services</a></li>
          <li> <a href="#contact" class="smoothScroll"> Get In Touch</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="home-section">
<div id="headerwrap" name="home">
  <header class="clearfix tb"> 
    <div class="tb-cell text-center">
        <!--<i class="fa fa-heart-o icon"></i>-->
        <h1>Drawing Insights</h1>
        <p>Fostering Parent-Child relations </p>
        <a href="#portfolio" class="smoothScroll btn btn-lg">Services</a> 
	</div>
    </header>
</div>

</div>
<div class="div-pattern2"></div>
<!-- /headerwrap --> 



<!-- ==== SERVICES ==== -->
<div id="services" name="services">
  <div class="container">
    <div class="row">
      <h2 class="centered">WHAT WE OFFER</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2">
        <p class="large">Welcome to our inclusive community! We offer a supportive platform for visually impaired parents to better understand their children's world. Join us in embracing the beauty of visual art and enhancing your journey as a parent.</p>
      </div>
      <div class="col-lg-4 callout"> 
        <h3>UPLOAD</h3>
        <p>Our website allows you to effortlessly interpret your child's drawings through advanced object recognition.</p>
      </div>
      <div class="col-lg-4 callout">
        <h3>EXPLORE</h3>
        <p>You can also explore a wide range of images, unlocking a world of visual information.</p>
      </div>
      <div class="col-lg-4 callout">
        <h3>CHAT</h3>
        <p>Connect with other visually impaired parents through our chat feature, fostering a network of understanding and shared experiences.</p>
      </div>
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container
<section class="hero-section section">  
        <div class="container">
            <div class="highlight tb">
                <div class="tb-cell">
                    <p>Erat imperdiet dissentias ea usu, alia aliquid corrumpit ea qui!</br>
					erant bonorum albucius et per, ei sapientem accommodare est. Saepe dolorum constituam ei!!</p>
                </div>
            </div>
        </div>
		
    </section>
	<div class="div-pattern"></div> --> 
<!-- ==== ABOUT ==== -->
<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <h2 class="centered">About Drawing Insights</h2>
      <hr>
      <div class="col-md-6"> <img class="img-responsive" src="static/HomePage/images/Drawing Insight-logos.jpg" align="" alt="DI Drawing Insights Fostering child parent relations; A parent and child holding hands"> </div>
      <div class="col-md-6">
        <h3>Who we are</h3>
        <p>Our website empowers the visually impaired community by offering a unique set of tools and features. Through advanced object recognition, we enable parents to interpret their children's drawings, bridging the visual gap. Users can explore various images, gaining access to a wealth of visual knowledge. Additionally, our chat functionality fosters connections with fellow visually impaired parents, creating a supportive network for shared insights and experiences. We're here to enhance accessibility and understanding, making a positive impact on your parenting journey.</p>
        </div>
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 
<!-- ==== PORTFOLIO ==== -->
<div id="portfolio" name="portfolio">
  <div class="container">
    <div class="row">
      <h2 class="centered">Our Services</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2 centered">
        <!--<p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>-->
      </div>
    </div>
    <!-- /row -->
    <div class="container">
      <div class="row"> 
        
        <!-- PORTFOLIO IMAGE 1 -->
        <div class="col-md-4 ">
          <div class="grid overlay">
            <figure> <a href="#href" onclick="openPopup()"><img class="img-responsive" src="static/HomePage/images/kids-drawing.jpg" alt=""></a>
              <figcaption>
                <h5>Upload Image</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a></figcaption>
              <!-- /figcaption --> 
              <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}" class="popup" id="popup">
                {% csrf_token %}
                <h4>Please upload an image to translate</h4>
                <input type="file" class="btn" id="myFile" name="filename">
                <button type="button" class="btn" onclick="closePopup()">Upload</button>
                <!--<input type="file" class="btn" id="myFile" name="imageFile">
                <input type="submit" class="btn" name="submit" value="upload">
                {{predictions}}-->
              </form>
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-overlay --> 
        </div>
        <script>
          let popup = document.getElementById("popup");
          
          function openPopup(){
            popup.classList.add("open-popup");
          }
        
          function closePopup(){
            popup.classList.remove("open-popup");
          }
        </script>
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Rose Cake</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static/HomePage/images/folio01-preview.jpg" alt=""></p>
                <p>Lorem ipsum dolor sit amet, quo meis audire placerat eu, te eos porro veniam. An everti maiorum detracto mea. </p> 
              </div> 
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 
        
        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-4">
          <div class="grid overlay">
            <figure> <img class="img-responsive" src="static/HomePage/images/draw2.jpg" alt="">
              <figcaption>
                <h5>Explore Images</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-overlay --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 3 -->
        <div class="col-md-4">
          <div class="grid overlay">
            <figure> <a href="#contact"><img class="img-responsive" src="static/HomePage/images/chat2.jpg" alt=""></a>
              <figcaption>
                <h5>Chat</h5>
                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-overlay --> 
        </div>
      </div>
      <!-- /row --> 
        <!-- /col --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /row --> 
  </div>
</div>
<!-- /container --> 

<!-- ==== CONTACT ==== -->
<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">Get In Touch</h2>
      <hr>
    
    </div>
    <div class="row">
      <div class="col-md-7">
	  <strong>Please give us your feedback!</strong>
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>-->
        <form id="contact" method="post" class="form" role="form">
          <div class="row">
            <div class="col-md-12 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
            </div>
            <div class="col-md-12 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
            </div>
			 <div class="col-md-12 form-group">
              <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>             
              <button class="btn btn-lg pull-left" type="submit">Send Message</button>
            </div>
          </div>
           
        </form>
        <!-- form --> 
      </div>
	  <div class="col-md-5">
	         
    
	  <!--<i class="fa fa-map-marker fa-2x"></i>
        <strong>Coffee Shop</strong>
		<p>321 Awesome Street<br>
          New York, NY 12345</p>
      
      <br/> 
	  <i class="fa fa-envelope-o fa-2x"></i>
        <p>info@companyname.com</p>
       
       <br/> 
	  <i class="fa fa-phone fa-2x"></i>
        <p> +1 235 123 1234</p>-->
       
	  </div>
    </div>
    <!-- row --> 
    
  </div>
</div>
<!-- container -->

<div id="footerwrap">
  <div class="container">
  </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 

</body>
</html>